img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: width="1000";
    background-position: center;
}

h1 {
    color: #0D3A41;
    font-family: agency fb; 
    font-size: 400%;
    text-align: center;
	text-shadow: 2px 1px #ffffff;
	

}

h2 {
    color: #0D3A41;
    font-family: agency fb; 
    font-size: 400%;
    text-align: center;
	text-shadow: 2px 1px #ffffff;
	

}

p {
    font-family: Arial Rounded MT; 
    color: #0D3A41;
    text-align: center;
	text-shadow: 1px 1px #ffffff;
}

.button {
  background-color: #CC0000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: agency fb;
  display: inline-block;
  font-size: 16px;
}

